/*------------------
Color names
--------------------*/
$color_white: #ffffff;
$color_black: #000000;

$color_link: $color_black;
$color_link_hover: #FF0000;


/*------------------

--------------------*/
$body_font_family: 'Open Sans', sans-serif;
$body_font_size: rem(16px);
$body_line_height: rem(30px);