/*https://www.npmjs.com/package/sass-rem*/
.fs_1{font-size: rem(1px);}
.fs_2{font-size: rem(2px);}
.fs_3{font-size: rem(3px);}
.fs_4{font-size: rem(4px);}
.fs_5{font-size: rem(5px);}
.fs_6{font-size: rem(6px);}
.fs_7{font-size: rem(7px);} 
.fs_8{font-size: rem(8px);}
.fs_9{font-size: rem(9px);}
.fs_10{font-size: rem(10px);}
.fs_11{font-size: rem(11px);}
.fs_12{font-size: rem(12px);}
.fs_13{font-size: rem(13px);}
.fs_14{font-size: rem(14px);}
.fs_15{font-size: rem(15px);}
.fs_16{font-size: rem(16px);}
.fs_17{font-size: rem(17px);}
.fs_18{font-size: rem(18px);}
.fs_19{font-size: rem(19px);}
.fs_20{font-size: rem(20px);}
.fs_21{font-size: rem(21px);}
.fs_22{font-size: rem(22px);}
.fs_23{font-size: rem(23px);}
.fs_24{font-size: rem(24px);}
.fs_25{font-size: rem(25px);}
.fs_26{font-size: rem(26px);}
.fs_27{font-size: rem(27px);}
.fs_28{font-size: rem(28px);}
.fs_29{font-size: rem(29px);}
.fs_30{font-size: rem(30px);}
.fs_31{font-size: rem(31px);}
.fs_32{font-size: rem(32px);}
.fs_33{font-size: rem(33px);}
.fs_34{font-size: rem(34px);}
.fs_35{font-size: rem(35px);}
.fs_36{font-size: rem(36px);}
.fs_37{font-size: rem(37px);}
.fs_38{font-size: rem(38px);}
.fs_39{font-size: rem(39px);}
.fs_40{font-size: rem(40px);}
.fs_41{font-size: rem(41px);}
.fs_42{font-size: rem(42px);}
.fs_43{font-size: rem(43px);}
.fs_44{font-size: rem(44px);}
.fs_45{font-size: rem(45px);}
.fs_46{font-size: rem(46px);}
.fs_47{font-size: rem(47px);}
.fs_48{font-size: rem(48px);}
.fs_49{font-size: rem(49px);}
.fs_50{font-size: rem(50px);}
.fs_51{font-size: rem(51px);}
.fs_52{font-size: rem(52px);}
.fs_53{font-size: rem(53px);}
.fs_54{font-size: rem(54px);}
.fs_55{font-size: rem(55px);}
.fs_56{font-size: rem(56px);}
.fs_57{font-size: rem(57px);}
.fs_58{font-size: rem(58px);}
.fs_59{font-size: rem(59px);}
.fs_60{font-size: rem(60px);}
.fs_61{font-size: rem(61px);}
.fs_62{font-size: rem(62px);}
.fs_63{font-size: rem(63px);}
.fs_64{font-size: rem(64px);}
.fs_65{font-size: rem(65px);}
.fs_66{font-size: rem(66px);}
.fs_67{font-size: rem(67px);}
.fs_68{font-size: rem(68px);}
.fs_69{font-size: rem(69px);}
.fs_70{font-size: rem(70px);}
.fs_71{font-size: rem(71px);}
.fs_72{font-size: rem(72px);}
.fs_73{font-size: rem(73px);}
.fs_74{font-size: rem(74px);}
.fs_75{font-size: rem(75px);}
.fs_76{font-size: rem(76px);}
.fs_77{font-size: rem(77px);}
.fs_78{font-size: rem(78px);}
.fs_79{font-size: rem(79px);}
.fs_80{font-size: rem(80px);}
.fs_81{font-size: rem(81px);}
.fs_82{font-size: rem(82px);}
.fs_83{font-size: rem(83px);}
.fs_84{font-size: rem(84px);}
.fs_85{font-size: rem(85px);}
.fs_86{font-size: rem(86px);}
.fs_87{font-size: rem(87px);}
.fs_88{font-size: rem(88px);}
.fs_89{font-size: rem(89px);}
.fs_90{font-size: rem(90px);}
.fs_91{font-size: rem(91px);}
.fs_92{font-size: rem(92px);}
.fs_93{font-size: rem(93px);}
.fs_94{font-size: rem(94px);}
.fs_95{font-size: rem(95px);}
.fs_96{font-size: rem(96px);}
.fs_97{font-size: rem(97px);}
.fs_98{font-size: rem(98px);}
.fs_99{font-size: rem(99px);}
.fs_100{font-size: rem(100px);}