
.fs_32{font-size: 32px;}
.fs_25{font-size: 25px;}
.fs_18{font-size: 18px;}
.fs_12{font-size: 12px;}
.fs_13{font-size: 13px;}
.fs_17{font-size: 17px;}
.fs_14{font-size: 14px;}

.fs_16{font-size: 16px;}
.fs_50{font-size: 50px;}

.btn_submit{
	background-color: $bg;
	border: none;
	padding: 10px 35px;
	color: $color_white;
	font-weight: 600;
	letter-spacing: 3px;
}
.bg_black{
	background-color: $bg;
}
.text_white{
	color: $color_white;
}
.text_black{
	color: $bg !important;
}
.text_email_link{
	color: $email_link;
}

.text_space_5{letter-spacing: 5px;}

.line_height_0{line-height: 0px;}
.line_height_30{line-height: 30px;}
.line_height_15{line-height: 15px;}

.tringle_down{
	display: block;
	line-height: 0;
	font-size: 7rem;
}
.tringle_up{
	font-size: 9rem;
	line-height: 0;
	display: block;
}
.hr_line{
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    width: 6%;
}

.btn_privacy_policy{
	color: $color_white;
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
	&:hover{
		color: $primary;
		
	}
}
.bg_ourteam{
	background-image: url(img/bg_ourteam.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	&::before{
		  content: '';
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  background-image: linear-gradient(to top, #000000, #000000);
		  opacity: .7;
	}
}

.bg_thedifference{
	background-image: url(img/bg_thedifference.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	&::before{
		  content: '';
		  position: absolute;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  background-image: linear-gradient(to top, #000000, #000000);
		  opacity: .7;
	}
}
.creative{
	text-align: left;
	
}


#middle_name,#fax_number{
			display: none;
		}

.thank_you{
	position: relative;
	color: $color_white;
	background-image: url(img/bg_thedifference.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	height:80vh;
	padding: 0 0 0 0;
	
	&::before{
		
		  content: '';
		  position: absolute;
		  top: 0;
		  right: 0;
		  left: 0;
		  height: 100%;
		  background-image: linear-gradient(to top, #000000, #000000);
		  opacity: .7;
	}
	h1{
	
		margin: 30vh 0 0 0 !important;
		@media(max-width:767px) {
		margin: 10vh 0 0 0 !important;
	}
		@media(max-width:320px) {
		margin: 10vh 0 0 0 !important;
			font-size: 15px;
	}
	}
	h2{
		margin: 5vh 0 0 0;
		@media(max-width:320px) {
			font-size: 15px;
		}
	}
	a.home{
	display: inline-block;
	margin: 5vh 0 0 0;
    padding: 9px 15px;
    background-color: transparent;
    color: white;
    border: 1px solid $color_white;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
		&:hover{
			 background-color: $primary;
		}
	}
	
}

.logo_h{
	@media (max-width:378px) {
		width: 82%;
	}
}
#back-top {

    position: fixed;
    bottom: 10px;
    right: 40px;
    display: none;
	a{
	color: white;
	opacity: 0.3;
	@include transition(all, .3s, ease-in-out);
	}
}
.nav_shadow{
	box-shadow: 0px 1px 20px fade-out($black, .7);
	
}
.skills_bar{
	text-align:left;
//	border: solid 1px white;
	color: white;
	padding: 0;
	li{ 
		span{
			display: inline-flex;
		}
		.heading{
			@extend .text_weight_600;
		}
//		@extend .w_100;
//		display:flex;
		list-style: none;
		.sub_1{
//			display: block;
			color: $grey;
			@extend .w_30;
		}
		.sub_2{
//			width: rem(100px);
			height: rem(2px);
			background-color: $grey;
		}
		.sub_3 {
			color: $grey;
		}
	}
	
}